<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

    <style>
        body{
            background-color: cornflowerblue;
        }
        .counter form .count{
            border:none;
            outline: none;
            background-color:darkorange;
        }
        .counter form .reset{
            border:none;
            outline: none;
            background-color:darkorchid;
        }
    </style>


    <div class="container counter text-center" style="margin-top: 150px;">

        <h1 class="display-1 text-white">
            {% if request.session.count %}
                {{request.session.count}}

            {% else %}
                0
            {% endif %}</h1> <br> <br>


        <form method="POST"> {% csrf_token %}
            <button name="count" class="count px-5 py-3 text-white shadow-lg">Count</button>
        </form>
<br> <br>
        <form method="POST"> {% csrf_token %}
            <button name="reset" class="reset px-5 py-3 text-white shadow-lg">Reset</button>
        </form>

    </div>
    
</body>
</html>